<% layout ('layouts/boilerplate') -%>
<h1>New Post!</h1>

<form action="/posts" method="POST" enctype="multipart/form-data">
  <div><input type="text" placeholder="Title" name="post[title]"></div>
  <div><input type="number" placeholder="Price" step=".01" name="post[price]"></div>
  <div>
    <input type="file" accept="image/*" name="images" multiple />
  </div>
  <div><textarea name="post[description]" rows="10" cols="30" placeholder="Description"></textarea></div>
  <div><input type="text" placeholder="Location" name="post[location]"></div>
  <div><input type="submit"></div>
</form>
<!--
title: String,
price: String,
description: String,

location: String,


-->
